<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de registro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="content-2 ">
        <h1>¡Gracias por registrarte!</h1>
        <p>Se envió un correo a la siguiente dirección: <b><%=email%></b> </p>
        <p>Revisa también en tu bandeja de spam, si no llega en 30 minutos, por favor contáctanos al correo <b>luisbarreramx@ieee.org</b> </p>
        <form action="/" method="GET">
            <button>Enviar otro formulario</button>
        </form>
    </div>
</body>

</html>