<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de registro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="content-2 ">
        <h1>¡Lo sentimos! el periodo de registro ha finalizado :( </h1>
        <p>Cualquier duda o comentario, déjanos un correo a: <b>luisbarreramx@ieee.org</b> </p>
        <p>¡Gracias! </p>
    </div>
</body>

</html>